.contact {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  color: #Fff;
  padding-top: 6rem;
}

.contact__header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.contact__title {
  font-size: 3rem;
  font-weight: 400;
}

.contact__description {
  width: 500px;
  line-height: 24px;
  color: var(--color-text-muted);
}

.contact__cards {
  display: flex;
  gap: 20px;
}

.contact__card {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background: var(--color-border-bg);
  border: 1px solid var(--color-border);
  border-radius: 20px;
  padding: 30px;
  width: 300px;
}

.contact__card-icon {
  font-size: 1.5rem;
  width: fit-content;
  padding: 10px 14px;
  border-radius: 12px;
}

.contact__card-icon.email {
  background: #0183b397;
  color: #5ad3ff;
}

.contact__card-icon.location {
  background: #8f01b356;
  color: #e149d9;
}

.contact__card-title {
  padding: 12px 0;
}

.contact__card-text {
  font-size: 13px;
  color: var(--color-text-muted);
}

.contact__form-section {
  display: flex;
  gap: 2rem;
}

.contact__send-message {
  display: flex;
  flex-direction: column;
  width: 650px;
  border: 1px solid var(--color-border);
  background: var(--color-border-bg);
  border-radius: 20px;
  padding: 40px;
  gap: 20px;
}

.contact__send-message p {
  font-size: 2rem;
}

.contact__send-message label {
  color: var(--color-text-muted);
  font-size: 14px;
}

.contact__send-message input,
.send-message__subject #subject {
  border: 1px solid var(--color-border);
  background: #1f1f1f;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
}

.send-message__full-name {
  display: flex;
  gap: 10px;
  width: 100%;
}

.first-name, .last-name,
.send-message__email,
.send-message__phone,
.send-message__subject {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.send-message__leave-message {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.send-message__leave-message .message-box {
  position: relative;
  min-height: 250px;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid var(--color-border);
  background: var(--color-border-bg);
  font-size: 14px;
}

.send-message__leave-message .message-box.inactive::before {
  content: 'Type your message here...';
  position: absolute;
  color: var(--color-text-muted);
  font-size: 14px;
}

.send-message {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #fff;
  font-size: 14px;
  background: var(--color-primary);
  border: none;
  border-radius: 15px;
  padding: 20px;
  cursor: pointer;
  transition: .3s ease;
}

.send-message i {
  font-size: 19px;
}

.send-message:hover {
  background: #5ad3ff;
}

.contact__quick-help {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 650px;
}

.contact__quick-help-box {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-border);
  background: var(--color-border-bg);
  border-radius: 20px;
  padding: 40px;
  gap: 20px;
}

.quick-help__title {
  font-size: 2rem;
}

.quick-help__card {
  display: flex;
  flex-direction: column;
  background: #1d1d1d;
  padding: 20px 15px;
  border-radius: 15px;
  gap: 10px;
  cursor: pointer;
  transition: .3s ease;
}

.quick-help__card:hover {
  background: #313131;
}

.quick-help__card p:last-child {
  color: var(--color-text-muted);
  font-size: 13px;
}

.contact__emergency-support {
  display: flex;
  flex-direction: column;
  border: 1px solid #16a5d950;
  background: #256e894b;
  border-radius: 20px;
  padding: 40px;
  gap: 20px;
}

.contact__emergency-support p:nth-child(2) {
  color: var(--color-text-muted);
}

.contact-number {
  color: #5ad3ff;
  background: #1185ae34;
  border: 1px solid #5ad3ff;
  padding: 20px;
  border-radius: 15px;
}